@import '../../styles/variables.scss';

.multiselectContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;


    outline:none;
    max-width: 100%;
    width: 100%;
    background-color: $white;
    border-radius: 8px;
    border: 1px solid $black-border;
    padding: 3.3% 5%;
    will-change: border, box-shadow;
    transition: all 250ms ease-in;
    z-index: 1;

    &:hover,
    &:focus {
        border: 1px solid $border-focus;
        box-shadow: 0px 0px 5px $border-acent;
        will-change: border, box-shadow;
        transition: all 250ms ease-out;
    }
}

.input {
    outline:none;
    border: none;
    &::placeholder {
        font-family: "Inter", sans-serif;
        color: $black-placeholder;
        font-weight: 500;
        font-size: $font-size-15;
    }
}