@import '../../styles/variables.scss';

.multiselectContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    outline: none;
    min-width: 30vw;
    width: auto;
    max-width: max-content;
    background-color: $white;
    border-radius: 8px;
    border: 1px solid $black-border;
    padding: 0.8vw 1.1vw;
    will-change: border, box-shadow;
    transition: all 250ms ease-in;
    z-index: 1;

    &:hover,
    &:focus {
        border: 1px solid $border-focus;
        box-shadow: 0px 0px 5px $border-acent;
        will-change: border, box-shadow;
        transition: all 250ms ease-out;
    }
}

.input {
    outline:none;
    border: none;
    width: 70%;
    min-width: 30%;
    max-width: 100%;
    margin-top: auto;
    &::placeholder {
        font-family: "Inter", sans-serif;
        color: $black-placeholder;
        font-weight: 500;
        font-size: $font-size-15;
    }
}

.chosenItems {
    width: auto;
    max-width: 34vw;
    display: flex;
    flex-wrap: wrap;
}

.searchIconWrap {
    margin-right: 0.3vw;
}

.addItem {
    display:  block;
    position: absolute;
    z-index: 10;
    width: 100%;
    max-width: 100%;
    top: 125%;
    left: 0;
    height: auto;
    max-height: 13.2vw;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: $white;
    border: 1px solid $border-dropdawn;
    border-radius: $border-radius;
    box-shadow: 0px 16px 64px $shadow-dropdawn;
    padding: .3vw;
}

.addBtn {
    width: 100%;
    display: flex;
    background-color: $white;
    outline: none;
    border: none;

    &:focus {
        outline: none;
        border: none;
    }
}

.plusWrap {
    margin-right: 1vw;
}

.addText {
    text-overflow: ellipsis;
}