//colors

$white: #FFFFFF;
$black: rgb(19, 8, 23, .9);
$black-border: rgb(19,8,23, .1);
$black-placeholder: rgb(19, 8, 23, .4);
$border-focus: rgb(110, 50, 140, .48);
$border-acent: rgb(110, 50, 140, .12);
$border-dropdawn: rgb(19, 8, 23, .05);
$border-critical: rgb(232, 67, 61);
$border-critical-shadow: rgba(232, 67, 61, 0.233);
$grey-scrollbar: rgb(145, 147, 153, .48);
$sheetfielf-hover: rgb(19, 8, 23, .05);

$shadow-dropdawn: rgb(22, 8, 30, .08);



// borders

$border-radius: 1px;

// fonts
$font-size-13: 0.933vw;
$font-size-15: 1.15vw;
$font-size-60: 4vw;


// $font-size-26: 1.806vw;
// $font-size-8: 0.612vw;
// $font-size-12: 0.833vw;
// $font-size-14: 0.972vw;
// $font-size-16: 1.111vw;
// $font-size-18: 1.25vw;
// $font-size-20: 1.389vw;
// $font-size-24: 1.606vw;
// $font-size-30: 2vw;

// $font-size-36: 2.556vw;
// $font-size-200: 13.89vw;