@import '../../styles/variables.scss';

.sheetfield {
    max-width: 100%;
    width: 100%;
    background-color: $white;
    border-radius: $border-radius;
    border: none;
    padding: 0.6% 5% 6% 4.9%;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: $font-size-15;
    color: $black;
    will-change: background-color;
    transition: background-color 150ms ease-in-out;

    cursor: pointer;

    &:hover {
        background-color: $sheetfielf-hover;
    }
}