@import '../src/styles/globals.scss';

#root {
  width: 99.9vw;
  height: 100vh;
  padding: 5vw;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  margin-bottom: 30vw;
}

.select__list {
  margin-top: 2vw;

}

.select__item {
  text-decoration: none;
  list-style-type: none;
  max-width: 26.5%;
  margin-bottom: 5vw;
}

.multiselect__item {
  text-decoration: none;
  list-style-type: none;
  margin-bottom: 5vw;
  width: 26.5%;
  max-width: 44vw;
  min-width: fit-content;
}

.combobox__item {
    text-decoration: none;
    list-style-type: none;
    max-width: 60%;
    min-width: auto;
    margin-bottom: 5vw;
    padding-bottom: 30vw;
}